<div class="cart-list">
    <div class="cotain">
      <div class="big">Cart</div>
      <div class="wish">
        Cart <span>[{{length}}]</span>
      </div>
    </div>

    <!-- If cart is empty -->
    
    <div class="card-list" *ngIf="arr.length===0">
      <div>
        <div class="big-icon hearty car">
          <i class="fa fa-cart-arrow-down"></i>
        </div>
        <div class="no">Shopping Cart is Empty.</div>
      </div>
    </div>
   

    <!-- If cart contains items -->
    <div class="card-list" *ngIf="arr.length>0">
      <table>
        <thead class="titoftable">
          <tr>
            <th colspan="2">PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th colspan="2">TOTAL</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let p of arr">
          <tr *ngIf="!p.received" >
            <td class="watch-pic">
              <a>
                <img class="sm-pic" [src]="imgurl+p.productId.imgeURL" alt="Product Image">
              </a>
            </td>
            <td class="tit-table">{{p.productId.name}}</td>
            <td class="price-table">{{p.productId.price}}$</td>
            <td class="qty-table">
              <div class="quantity-control">
                
<form class="max-w-28 mx-auto">
  <!-- <label for="number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a number:</label> -->
  <input #numberInput (change)="editqty(numberInput.value,p.productId)" [value]="p.qty" min="1" type="number" id="number-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" required />
</form>

              </div>
            </td>
            <td class="price-table" colspan="2">{{p.productId.price*p.qty}}$</td>
            <!-- <td class="price-table" *ngIf="!p.status" colspan="1">{{p.productId.price*p.qty}}$</td> -->
             <ng-container *ngIf="!p.CheckOut">
            <td class="qty-table" *ngIf="p.status">
              <span class="button" (click)="dele(p.productId)"  >Delete</span>
            </td></ng-container>
            <ng-container *ngIf="p.CheckOut">
              <td class="qty-table " *ngIf="p.status==='Pending'">

                <div class="text-2xl text-cyan-800 " >pending</div>
                <div class="button " (click)="dele(p.productId)"  >Cancle</div>

              </td>
            <td class="qty-table" colspan="1" *ngIf="p.status==='Accepted'">
              <span class="deli" >Product in delivery stage</span>
            </td>
            <td class="qty-table" colspan="1" *ngIf="p.status==='Delivered'">
              <span class="received" >Product is received</span>
            </td></ng-container>
          </tr>
        </ng-container>

          <!-- Add more product +s(click)="dele(p._id)" as needed -->
        </tbody>
      </table>
      <div class="btns">
        <div class="btn-cart" routerLink="/UpdateCart">Orders</div>
        <div class="btn-cart" (click)="check()" >CheckOut</div>
        <div routerLink="/" class="btn-cart">
          <a class="shopping">Continue Shopping</a>
        </div>
        <!-- <div class="btn-cart">Clear Cart</div> -->
      </div>
    </div>
  </div>