<div class="cart-list">
    <div class="cotain">
      <div class="big">Orders</div>
      <div class="wish">
        Orders <span>[{{arr.length}}]</span>
      </div>
    </div>

    <!-- If cart is empty -->
    
    <div class="card-list" *ngIf="arr.length===0">
      <div>
        <div class="big-icon hearty car">
          <i class="fa fa-cart-arrow-down"></i>
        </div>
        <div class="no">There are no orders.</div>
      </div>
    </div>
   

    <!-- If cart contains items -->
    <div class="card-list" *ngIf="arr.length>0 ">
      <table>
        <thead class="titoftable">
          <tr>
            <th colspan="2">PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th colspan="2">TOTAL</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <ng-container *ngFor="let p of arr" >
          <tr *ngIf="!p.received" [ngClass]="{'active': !p.status}" >
              <td class="watch-pic" >
                <!-- -->
                <img class="sm-pic" [src]="imgurl+p.produect.imgeURL"  alt="Product Image">
              <a>
              </a>
            </td>
            <td class="tit-table">{{p.produect.name}}</td>
            <td class="price-table">{{p.produect.price}}</td>
            <td class="qty-table">
              <div class="quantity-control">
                <!-- <button class="decrement">-</button> -->
                {{ p.qty}}
                <!-- <input type="number" class="input" [value]="" min="0" max="9"> -->
                <!-- <button class="increment">+</button> -->
              </div>
            </td>
            <td class="price-table" colspan="2">{{p.produect.price*p.qty}}$</td>
            <td class="qty-table">
              <div>
              <div class="name"> Username: {{p.userid.name}}</div>
                 <div class="email">Email:{{p.userid.email}}</div>
               <div class="phone"> Phone: {{p.userid.phone}}</div>
               <div class="add"> Address: {{p.userid.address}}</div>
              </div>
              <span class="button" *ngIf="p.status" (click)="delivery(p._id)" >delivery</span>
              <span class="button" *ngIf="!p.status" (click)="delivery(p._id)" >undelivery</span>
              <span class="button received" *ngIf="!p.status" (click)="received(p._id)" >received</span>

              <!-- <span class="button d"  >details</span> -->
            </td>
            <!-- <div>dufgus</div> -->
          </tr>
          </ng-container>
          <!-- Add more product +s(click)="dele(p._id)" as needed -->
        </tbody>
      </table>
      <div class="btns">
        <div class="btn-cart" routerLink="/admin/sales">Sales</div>
        <!-- <div routerLink="/" class="btn-cart">
          <a class="shopping"></a>
        </div> -->
        <!-- <div class="btn-cart">Clear Cart</div> -->
      </div>
    </div>
  </div>