<div class="cart-list">
  <div class="cotain">
    <div class="big">MyOrders</div>
    <div class="wish">
      MyOrders <span>[{{length}}]</span>
    </div>
  </div>

  <!-- If cart is empty -->
  
  <div class="card-list" *ngIf="arr.length===0">
    <div>
      <div class="big-icon hearty car">
        <i class="fa fa-cart-arrow-down"></i>
      </div>
      <div class="no">Shopping Orders is null.</div>
    </div>
  </div>
 

  <!-- If cart contains items -->
  <div class="card-list" *ngIf="arr.length>0">
    <div class="w-full overflow-x-auto">
    <table>
      <thead class="titoftable">
        <tr>
          <th colspan="2">PRODUCT</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th colspan="2">TOTAL</th>
          <th>STATUS</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let p of arr">
        <tr  >
          <td class="p-2">
            <img class="block w-16 h-16 md:w-20 md:h-20 rounded-md max-w-none" 
                 [src]="imgurl+p.productId.imgeURL" 
                 alt="Product Image"
                 >
          </td>
          <td class="tit-table">{{p.productId.name}}</td>
          <td class="price-table">{{p.productId.price}}$</td>
          <td class="qty-table">
            <div class="quantity-control">
              {{p.qty}} 
            </div>
          </td>
          <td class="price-table" colspan="2">{{p.productId.price*p.qty}}$</td>
          <!-- <td class="price-table" *ngIf="!p.status" colspan="1">{{p.productId.price*p.qty}}$</td> -->
          
        <td class="qty-table" colspan="1">
      <span > {{p.status}}</span>
    </td>
        </tr>
      </ng-container>

        <!-- Add more product +s(click)="dele(p._id)" as needed -->
      </tbody>
    </table></div>
    <div class=" flex justify-between">
      <div class="">
        <span>Total Price:</span>
        <span>{{total}}$</span>
      </div></div>
    <div class="btns">
      <div class="btn-cart" routerLink="/cart">cart</div>
      <!-- <div class="btn-cart" (click)="check()" >CheckOut</div> -->
      <div routerLink="/" class="btn-cart">
        <a class="shopping">Continue Shopping</a>
      </div>
      <!-- <div class="btn-cart">Clear Cart</div> -->
    </div>
  </div>
</div>