<p-sidebar [(visible)]="isSidebarOpen" position="left" [baseZIndex]="1000">
  <h3 class="p-4 border-b">Filters</h3>
  
  <!-- Category Filter -->
  <div class="p-4">
    <h4 class="font-medium text-lg">Category</h4>
    <div class="flex items-center space-x-2">
      <p-radioButton name="category" value="All" [(ngModel)]="selectedOption" (click)="updateSelectedOption('All')"></p-radioButton>
      <label>All</label>
    </div>
    <div class="flex items-center space-x-2" *ngFor="let option of radioOptions">
      <p-radioButton name="category" [value]="option.name" [(ngModel)]="selectedOption" (click)="updateSelectedOption(option.name)"></p-radioButton>
      <label>{{ option.name }}</label>
    </div>
  </div>

  <!-- Stock Filter -->
  <div class="p-4">
    <h4 class="font-medium text-lg">Stock</h4>
    <div class="flex items-center space-x-2" *ngFor="let st of Stock">
      <p-radioButton name="stock" [value]="st.value" [(ngModel)]="selectedst" 
        (click)="updateselectedst(st.value)"></p-radioButton>
      <label class="ml-2">{{ st.label }}</label>
    </div>
  </div>

  <!-- Price Filter -->
  <div class="p-4">
    <h4 class="font-medium text-lg">Price</h4>
    <p-slider [(ngModel)]="currentValue" [min]="minValue" [max]="maxValue" (onChange)="updatecurrentValueChange(currentValue)"></p-slider>
    <div class="flex justify-between text-sm text-gray-500">
      <span>Min (${{ minValue }})</span>
      <span>${{ currentValue }}</span>
      <span>Max (${{ maxValue }})</span>
    </div>
  </div>
</p-sidebar>

<button (click)="toggleSidebar()" class="p-button !absolute ml-auto mt-[90px]">
  <i class="pi pi-filter"></i>
  Filter
</button>

